<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
</head>
<body>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <input type="text" name="Title" placeholder="title" required>
        <input type="text" name="Auth" placeholder="auther" required>
        <input type="text" name="Year" placeholder="year" required>
        <input type="text" name="Gender" placeholder="gender" required>
        <button type="submit">POST</button>
    </form>
</body>
</html>
